body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}

a,
address {
  text-decoration: none;
  font-family: inherit;
  color: currentColor;
  font-style: normal;
  display: inline-block;
}

a:not(.logo):hover,
a:not(.logo):focus {
  color: #fd9222;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border-radius: 100px;
  padding: 14px 40px;
  cursor: pointer;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */

/* logotype */
.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo .font-chocolate {
  font-style: normal;
}

/* Navigation Menu */
.nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.item-soc-net {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.icon-link:hover,
.icon-link:focus {
  fill: #fd9222;
}

/* #endregion Header */

/* #region Hero (Main Page) */

.main-page .bg-main {
  background-color: rgba(17, 17, 17, 0.4);
  max-width: 1136px;
  border-radius: 30px;
  padding: 40px;
}

.main-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.main-link-buy button {
  background: #fd9222;
  color: #fff;
  border: none;
}

.main-link-buy button:hover,
.main-link-buy button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.main-link-recipe button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.main-link-recipe button:hover,
.main-link-recipe button:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.text-scroll {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.scroll-eclipse {
  border-radius: 100%;
  background-color: #fff;
  width: 38px;
  height: 38px;
  padding: 8px;
}

/* #endregion Hero (Main Page) */

/* #region benefits */
.benefits-page {
  background-color: #1e1823;
  padding: 50px 0px;
}

.benefits-item-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: #fff;
}

.benefits-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion benefits */

/* #region ingredients */

.ingredients-page .orange-taste {
  color: #fd9222;
}

.ingredients-item {
  border-radius: 15px;
}

.ingredients-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion ingredients */

/* #region recipe */
.recipe-page .orange-made {
  color: #fd9222;
}

.recipe-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.recipe-list {
  list-style-type: disc;
}
/* #endregion recipe */

/* #region products */
.products-page .orange-products {
  color: #fd9222;
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background: #fff;
}

.products-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-page button {
  font-size: 14px;
  font-weight: 600;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
}
/* #endregion products */

/* #region top sellers */
.sellers-page .orange-top {
  color: #fd9222;
}

.sellers-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  padding: 28px 0;
  margin: 0 auto;
}

/* #endregion top sellers */

/* #region reviews */
.reviews-page .orange-chocolate {
  color: #fd9222;
}

.reviews-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
  background: #fff;
}
.review-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
}

.review-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
/* #endregion reviews */
